---
import QuestionCard from "../components/QuestionCard.astro";
import Layout from "../layouts/Layout.astro";

import { faqs } from "../data/faqs";
---

<Layout title="Preguntas frecuentes">
  <section class="text-center max-w-5xl mx-auto px-6">
    <p class="text-sm font-bold text-red-500 mb-2 uppercase tracking-widest leading-tight">
      Preguntas frecuentes
    </p>
    <h1 class="text-4xl md:text-5xl font-bold text-gray-800 leading-tight mb-4">
      Muebles Artesanales y a Medida para Cada Espacio
    </h1>

    <img 
      class="w-full mt-8 sm:mt-12 md:mt-16 h-64 sm:h-80 md:h-96 object-cover object-center sm:object-top rounded-lg" 
      src="https://images.pexels.com/photos/5428829/pexels-photo-5428829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
      alt="Consulting Team" 
    />
  </section>

  <section class="mt-12 sm:mt-16 md:mt-20 max-w-5xl mx-auto px-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      {faqs.map(({ question, answer, category }) => (
        <QuestionCard 
        question={question}
        answer={answer}
        category={category}
        />
      ))}
    </div>

    <!-- Contacto de Soporte -->
    <footer class="text-center text-gray-500 mt-16 sm:mt-20">
      ¿Aún tienes preguntas?
      <a href="/contact" class="text-red-500 hover:underline">
         Contáctanos sin costo alguno.
      </a>
    </footer>
  </section>
</Layout>
